<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.huangfugui.ibatis.mapper.IndustryBigMapper">
    <select id="selectByBigId" resultType="industryBig">
        SELECT
          *
        FROM
          enterprise_industry_big
        WHERE
          industry_big_id=#{bigId}
    </select>
</mapper>