<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.huangfugui.ibatis.mapper.NewsMapper">
    <select id="selectAll" resultType="notice">
        select
        notice_title,notice_content,user_id,release_time
        from
        notice
    </select>

    <insert id="ReleaseNews">
        INSERT IGNORE INTO
        notice (user_id,notice_title,notice_content,release_time)
        VALUES
        (#{userid},#{title},#{content},#{Release_time})
    </insert>
</mapper>