<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.huangfugui.ibatis.mapper.PeriodMapper">
    <select id="selectById" resultType="period">
      SELECT
        period_id,
        period_start_time AS start_time,
        period_end_time AS end_time,
        period_state AS state
      FROM
        period
      WHERE
        period_id=#{periodId}
    </select>
</mapper>